<div class="navbar">
    <div class="container">
        <div class="navbar-innr">
            <ul class="navbar-menu">
                <li>
                    <a href="/admin/dashboard">
                        <em class="ikon ikon-home-link"></em> 
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="/admin/books">
                        <em class="ikon ikon-docs"></em> 
                        Books
                    </a>
                </li>
                <li>
                    <a href="/admin/e-books">
                        <em class="ikon ikon-dashboard"></em> 
                        E-Books
                    </a>
                </li>
                <li>
                    <a href="/admin/iventary">
                        <em class="ikon ikon-transactions"></em> 
                        Fluxo/Inventário
                    </a>
                </li>
                <li>
                    <a href="/admin/profile">
                        <em class="ikon ikon-user"></em> 
                        Meu Perfil
                    </a>
                </li>
                <li class="has-dropdown page-links-all">
                    <a href="/admin/quicky-iventary">
                        <em class="ikon ikon-exchange"></em> 
                        Configurações
                    </a>
                    <ul class="navbar-dropdown">
                        <li class="has-dropdown">
                            <a href="javascript:void(0)">Books
                            </a>
                            <ul class="navbar-dropdown">
                                <li><a href="/admin/books/add">Adicionar Livro</a></li>
                                <li><a href="/admin/books/issued">Ver Livros Emitidos</a></li>
                                <li><a href="/admin/books/requested">Ver Livros Solicitados</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="javascript:void(0)">E-Books
                            </a>
                            <ul class="navbar-dropdown">
                                <li><a href="/admin/e-books/add">Adicionar Livro</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="javascript:void(0)">Utilizadores
                            </a>
                            <ul class="navbar-dropdown">
                                <li><a href="/admin/customers">Ver todos</a></li>
                                <li><a href="/admin/customers/add">Adicionar</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-btns">
                <li>
                    <a href="#" class="btn btn-sm btn-outline btn-light">
                        <em class="text-primary ti ti-files"></em>
                        <span>Gerar Relatório</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>