<!doctype html>
<html lang="pt" class="js">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Horacio Pedro by CELFAA">
        <meta name="description" content="Sistema de gestão de biblioteca e leituras online.">

        <!-- Fav Icon -->
        <link rel="shortcut icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/bundle.css">
        <link rel="stylesheet" href="/css/style.css" id="layoutstyle">